<header class="header-container">
  <!-- <div class="circle"></div>
  <img src="./assets/libros-1.png" class="libros" /> -->
  <div class="isla-container">
    <img
      src="./assets/isla_del_tesoro.png"
      alt="logo libreria la isla del tesoro"
      class=""
    />
  </div>
  <div class="menu-container">
    <div class="texto">
      <h3 (click)="scrollToSection('novedades')">Novedades</h3>
      <h3 (click)="scrollToSection('recomendado')">Recomendados</h3>
      <h3 (click)="scrollToSection('contacto')">Contacto</h3>
    </div>

    <div class="logo-container">
      <img src="./assets/twitter_2.png" alt="logo twitter" class="twitter" />

      <img
        src="./assets/instagram_3.png"
        alt="logo instagram"
        class="twitter"
      />
    </div>
  </div>
</header>
