.header-container {
  /* background-color: rgb(96, 122, 96); */
  background-color: rgb(163, 180, 161);
  background-color: #606d5f;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  width: 100%;
  border-bottom: 8px solid #2e332e;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  gap: 20%;
}

.logo-container {
  display: flex;
  flex-direction: row;
  gap: 24px;

  opacity: 60%;
}

.isla-container {
  width: 550px; /* Ancho de la base superior del trapecio */
  height: 0;
  /* Altura del trapecio */
  border-bottom: 80px solid #2e332e;
  border-right: 70px solid transparent; /* Lado derecho del trapecio */
  position: relative;
  z-index: 0;
}

.isla-logo {
  padding: 1%;
  width: 52%;
  margin-left: 32%;
  margin-top: 2%;
}

.circle {
  width: 125px;
  height: 125px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  opacity: 60%;
  margin-left: -80px;
  margin-top: -20px;
}

.libros {
  width: 18%;
  opacity: 95%;
  margin-top: -60px;
  margin-left: -60px;
  position: absolute;
  z-index: 1;
}

.texto {
  display: flex;
  flex-direction: row;
  gap: 8%;
  margin-top: 1%;
}

.twitter {
  width: 25px;
  height: 25px;
  opacity: 80%;
}

.logos h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(37, 54, 37);
  color: rgb(255, 255, 255);
  opacity: 80%;
  font-size: 1.1rem;
  cursor: pointer;
}

.logos h3:hover {
  opacity: 25%;
}

.menu {
  display: inline-block;
  position: relative;
}

.menu button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: none;
  text-decoration: none;
  background: none;
  border: 0;
  font-size: 14px;
}
