.card {
  border: 1px solid #ccc;
  border-radius: 8px;

  margin-bottom: 20px;
  max-width: 12em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  background-color: rgb(241, 241, 241);

}

.card-img-top {
  width: 90%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #4b4b4b;
}

.card-text {
  color: #4b4b4b;
}
